code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
* {
  line-height: 1;
  box-sizing: border-box;
}
h1 {
  font-size: 23px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  background: linear-gradient(190deg, #943778, #d72467) no-repeat center fixed;
}
.body {
  display: flex;
  min-width: 320px;
  flex-direction: column;
  margin: 0 auto;

}
.body > section,
.body > header,
.body > footer {
  max-width: 1440px;
  margin: 0 auto;
}
header {
  width: 100%;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  height: 50px;
}

header .logo {
display: flex;
  width: 35px;
}

nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
}

nav > ul > li {
  font-size: 18px;
  margin-right: 15px;
  margin-left: 10px;
}

img {
  width: 100%;
}
.menu__item__link {
  padding: 3px 5px;
  border-radius: 2px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.menu__item__link--active {
  border: 2px solid red;
  color: white;
}

.menu__item__link:hover {
color: white;
}

.chart_wrapper {
  width: 85%;
  margin: 20px auto;
  background: white;
  border-radius: 5px;
  padding: 15px 5px;
  transition: 0.3s;
}

main {
  display: flex;
  flex:1;
  font-size: 2rem;
  padding-top: 70px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section > h1 {
  margin-bottom: 30px;
}

footer {
  color: white;
  height: 50px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.data_items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 50px;
}

.group_item {
  width: 270px;
  background: white;
  color: black;
  padding: 20px 10px;
  margin: 20px 30px;
  border-radius: 3px;
  text-align: left;
  border: 1px solid #92094f;
  box-shadow: 1px 5px 20px #5a002f;
  transition: 0.3s;
}

.group_item_name {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.group_item_img {
  width: 150px;
  margin: 10px auto;
}

.group_item_img img {
  border-radius: 50%;
}

.group_item_range {
  font-size: 17px;
  text-align: center;
  text-decoration: underline;
}

.group_item_range br {
  margin-bottom: 15px;
}

.group_item_functional {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.group_item_functional button {
  border: none;
  padding: 10px 12px;
  border-radius: 3px;
  background: #ff5656;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.group_item_functional button:last-child {
  background: #4aa92b;
}



/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  line-height: 1.3;
  color: white;
  height: calc(100vh - 100px);
  padding: 0 20px
}

.eye {
  position: absolute;
  border-radius: 50%;
  height: 27px;
  width: 27px;
  background: #f84040;
  top: 12%;
  left: 59%;
  z-index: 56;
}

.eye:after {
  position: absolute;
  bottom: 14px;
  right: 7px;
  width: 13px;
  height: 13px;
  background: #000;
  border-radius: 50%;
  content: " ";
}

.button {
  padding: 10px 0;
  margin: 0 auto;
  margin-top: 50px; 
}

.button_work {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 60px;
}

.button_work.clean {
  margin: 0 auto;
  margin-bottom: 80px;
}

.button_work.clean .btn {
  background: #520050;
}

.btn {
  position: relative;
  padding: 15px;
  background: #ff5151;
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 600;
  text-shadow: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn.main {
  display: block;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  width: 200px;
}

.btn:hover {
  background: indigo;
}

.header__text > hr {
  width: 30%;
  margin: 25px 0;
  height: 3px;
  background: white;
  border: none;
}

.header__text h1 {
  font-size: 45px;
}
.header__text h3 {
  line-height: 1.3
}

.header__text {
  text-shadow: 2px 2px 10px #000000b8;
  text-align: left;
  width: 40%;
}

.header__photo {
  position: relative;
  margin-right: 15%;
  width: 25%;
}

/* notidication */
.notification_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #27272769;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.notification_body {
  position: relative;
  margin-top: 50px;
  width: 320px;
  padding: 10px;
  height: 85px;
  background: #ff5151;
  z-index: 10;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 3px 17px #00000099;

  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-name: notice;
}

@keyframes notice {
  from {
    margin-top: -90px
  }
  to {
    margin-top: 50px;
  }
}


/* Work */
.work {
  width: 100%;
  min-height: 100vh;
}
.data_items > p {
  color: #fff;
}
.workspace__form {
  margin: 60px 0px;
}

.work__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.work__items__item {
  width: 85%;
  padding: 20px;
  margin: 20px;
  background: white;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #92094f;
  box-shadow: 1px 5px 20px #5a002f;
  transition: 0.3s;
}
.work__items__item:hover,
.chart_wrapper:hover {
  box-shadow: 10px 7px 15px 0px #50002c;
}
.work__items__item.bots {
  display: block;
  text-align: center;
}
.work__item__img {
  width: 25%;
  max-width: 400px;
  margin: 20px;
  margin-right: 60px;
  text-align: center;
}

.work__items__item_text {
  padding: 20px;
  text-align: center;
  width: 100%;
}
.work__item__img h4 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.work__item__img img {
  border-radius: 50%;
}

.work__item__text h4{
  font-size: 30px;
  margin-bottom: 25px;
}

.work__item__text p{
  font-size: 18px;
  color: #000000;
  margin: 10px 0;
  text-overflow: ellipsis;
}

.work__item__text p::first-letter{
  font-size: 25px;
  font-weight: 600;    
}

.markovInfo {
  flex-direction: column;
}

.markovInfo h2 {
  margin-bottom: 20px;
}

.markovInfo p {
  text-align: center;
  width: 800px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 20px;
}

.markovInfo .button {
  margin-top: 20px;
}


/* REX */
.rexRoad {
  position: relative;
  width: 100%;
  height: 200px;
}

.rex{
    margin:0;
    width:9px;
    height:9px;
    position:absolute;
    left:50%;
    top:95%;
    animation:move 400ms steps(1) infinite;
    box-shadow:0px -9px 0 0 black,9px 0 0 0 black,-18px 0 0 0 black,-27px 0 0 0 black,-27px -9px 0 0 black;
}
.rex::after{
  position: absolute;
  bottom: 168px;
  right: -30px;
  width: 15px;
  height: 15px;
  background: #000000;
  border-radius: 50%;
  content: " ";
  display: block;
  box-shadow: inset 4px 2px 0px 3px #f84040;
}
.rex::before{content:'';width:9px;height:9px;margin:-171px 0 0 27px;display:block;box-shadow:
0px 18px 0 18px black,
10px 9px 0 18px black,
50px 14px 0 13px black,
44px 1px 0 10px black,
28px 2px 0 17px black,
-9px 54px 0 9px black,
-1px 89px 0 10px black,
-4px 58px 0 13px black,
-36px 99px 0 27px black,
-27px 54px 0 0 black,
-36px 72px 0 9px black,
54px 45px 0 0 black,
45px 44px 0 1px black,
36px 45px 0 0 black,
27px 44px 0 1px black,
18px 45px 0 0 black,
18px 72px 0 0 black,
27px 72px 0 0 black,
27px 81px 0 0 black,
-5px 112px 0 5px black,
-23px 139px 0 5px black,
-18px 153px 0 0 black,
-54px 135px 0 9px black,
-36px 135px 0 0 black,
-54px 153px 0 0 black,
-63px 153px 0 0 black,
-63px 99px 0 18px black,
-72px 126px 0 0 black,
-90px 108px 0 0 black,
-90px 90px 0 9px black,
-90px 90px 0 9px black,
-108px 81px 0 0 black,
-90px 72px 0 0 black,
-99px 72px 0 0 black,
-99px 63px 0 0 black,
-108px 72px 0 0 black,
-108px 63px 0 0 black,
-108px 54px 0 0 black,
-108px 45px 0 0 black;}
@keyframes move{
  0% {
    margin-top:9px;box-shadow:9px -9px 0 0 black,18px 0px 0 0 black,27px -9px 0 0 black,-45px 0px 0 0 black,-45px -18px 0 0 black,-54px -9px 0 0 black,-72px -9px 0 0 #6E6E6E,-90px 0px 0 0 #6E6E6E,-99px -18px 0 0 #6E6E6E;
  }
  50% {
    margin-top:0px;box-shadow:0px -9px 0 0 black,9px 0 0 0 black,-18px 0 0 0 black,-27px 0 0 0 black,-27px -9px 0 0 black;}
  100% {
    margin-top:9px;box-shadow:9px -9px 0 0 black,18px 0px 0 0 black,27px -9px 0 0 black,-45px 0px 0 0 black,-45px -18px 0 0 black,-54px -9px 0 0 black,-72px -9px 0 0 #6E6E6E,-90px 0px 0 0 #6E6E6E,-99px -18px 0 0 #6E6E6E;
  }
}

.rexDino {
  position: relative;
  top: 95%;
  left: 20%;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    left: calc(0% + 200px);
  }
  to {
    left: calc(100% - 200px);
  }
}

/* FORM */

form {
  display: flex;
  justify-content: center;
}

input:focus::-webkit-input-placeholder {
  transition: .4s ease;
  color: transparent;
}

input:focus{
  transition: 1s ease;
}

input[type="submit"] {
  cursor: pointer;
  background: #ff5151;
}

input[type="submit"]:hover {
  background: green;
  color: white;
}

#exit {
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
  font-size: 35px;
}

.form-wrapper {
  position:fixed;
  display:flex;
  width:100%;
  height:100%;
  justify-content:center;
  align-items:center;
  background:rgba(0, 0, 0, 0.82);
  z-index:100;
}

.form {
  position: fixed;
  width: 400px;
  min-height: 250px;
  padding: 20px 15px;
  border-radius: 3px;
  background: #ff5151;
  text-align: center;
  z-index: 9;
}

.form__header {
  margin: 0;
  margin-bottom: 30px;
}

.form form {
  display: block;
}

.form form > input {
  display: block;
  width: 100%;
  margin: 15px 0;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  padding: 2px 10px;
  height: 40px;
}

.form form > input[type="submit"] {
  width: 40%;
  background: #b22e70;
  border: none;
  outline: none;
  margin: 0 auto;
  margin-top: 25px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.error_text {
  color: #2b0000;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
}


/* Main */
.main h1 {
  color: white
}

.loading-item {
  margin: 0 auto;
  width: 70%;
  padding: 20px;
  background: white;
  text-align: left;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid #92094f;
  box-shadow: 1px 5px 20px #5a002f;
}
.rexText {
  font-size: 22px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}
.groupName {
  font-size: 25px;
  font-weight: bold;
}


.workspace__search input {
  padding: 10px 25px;
  outline: none;
  border: none;
  font-size: 20px;
  transition: 0.3s;
  height: 40px;
}

.workspace__search > span {
  display: flex;
  align-items: center;
}

.workspace__search .dates > span {
  display: flex;
  flex-direction: column;
}

.workspace__search .dates label {
  margin-bottom: 10px;
  color: #fff;
}

.workspace__search > span:first-child input {
  border-radius: 3px;
  width: 252px;
}

.workspace__search > span:first-child span:last-child {
  margin-left: 10px;
}

.workspace__search > span:last-child {
  margin-top: 15px;
}

.workspace__search > span:last-child input:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 400px;
} 

.workspace__search > span:last-child > input:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.functional__network {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
  border-radius: 10px;
  background-color: #ff5151;
}

.functional__items__item--active {
  background: white;
  color: black;
}

/* responsive */

@media screen and (max-width: 719px) {
  .chart_wrapper {
    display: none;
  }

  header > div {
    width: 25%;
  }
  .functional__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .form__header {
    margin-bottom: 10px;
  }
  .header__photo {
    display: none;
  }
  .header__text {
      text-align: center;
      width: 90%;
      font-size: 13px;
  }
  .header__text h1 {
      font-size: 31px;
  }
  .functional {
      font-size: 18px;
  }
  .loading-item {
    width: 95%;
    overflow: hidden;
  }
  .form {
    width: 90%;
  }
  
  .workspace__form {
    margin: 25px 0px;
  }
  .workspace__search > span input {
    width: 90% !important;
  }
  .workspace__search > span {
    display: block;
  }
  .workspace__search > span:first-child span:last-child {
    margin-left: 0;
  }
  .workspace__search > span:last-child input:first-child {
    border-radius: 3px;
    margin: 0 auto;
    display: block;
}
  .workspace__search > span:last-child > input:last-child {
    border-radius: 3px;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
  }
  .workspace__search .dates > span {
    align-items: center;
  }


  .work__items__item {
    display: block;
    width: 90%;
    margin: 15px;
    padding: 10px;
  }
  .work__item__img {
    margin: 0 auto;
    width: 65%;
  }
  .work__item__text p {
    font-size: 16px;
    line-height: 1.2;
  }

  .markovInfo h2 {
    text-align: center;
    font-size: 20px;
  }
  .markovInfo > div {
    display: block;
  }
  .markovInfo p {
    width: 90%;
  }

  .data_items {
    margin: 0
  }
}